/* ---------- parametros por defecto ------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


/* ----------- formato para listados --------------*/
  li {
    list-style-type: none;
    font-weight: normal;
    padding: 15px;
  
  }


  /* --------- formato para limpiar hipervinculos ---------  */
  a {
    text-decoration: none;
    font-style: normal;
    color:black;
  }
  


/* -------------  aplicando Grids -------------- */


/* ---------- Trabajo body en general ------------*/

body {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 30%, 60% ,10%;
  grid-template-areas: 
  "header"
  "main"
  "footer";
  background-color: rgb(177, 164, 164);
  
}

/*-------------- trabajo header en general ----------- */
header {
  grid-area: header;
  display: grid;
  background-image: url(../img/imagen-header.jpg);
  background-size: cover;
  
  grid-template-columns: 100%;
  grid-template-rows: 2fr, 1fr;

  grid-template-areas: 
  "titulo"
  "nav";

}

h1{
  grid-area: titulo;

  font-size: 5  rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 10%;

}
nav{
  grid-area: nav;
  
}

.navegador {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem ;
  background-color:brown;
  display: flex;
  justify-content: space-between;

}

/*----------- trabajo main en general --------------*/

main {

  grid-area: main;
  display: flex;
  flex-direction: column;

}

/*-------------------- Trabajo index ------------------*/

.tituloArticulo{
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-align: center;
  text-decoration-line: underline;
  margin-top:10px;
  margin-bottom: 10px;
  width: 100%;
}

.cuerpoArticulo p{
  font-size: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: justify;
  width: 100%;
  padding: 20px;
}

#caratula   {
width:100%;
padding: 20px;

}

/*-------------------- Trabajo demas paginas ------------------*/

.subtitulo {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.2rem ;
  font-weight: normal;
  text-align: center;
  text-decoration: underline;
  
  }
  
  .nosotros{
    text-align: center;
    padding-bottom: 10px;
  }
  

/*---------------- trabajo galeria --------------- */
.galeria {
width: 100%;

}

.contenedorGaleria {
  display: flex;
  padding: 30px;
  overflow-x: scroll;


}

.cardImagen {
min-width: 200px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;


}

.cardImagen img {
  width: 100%;
}


/*--------- trabajo footer en general -------------*/
footer {

  grid-area: footer;
  
}

.redes {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1rem ;
  background-color: aquamarine;
  display: flex;
  justify-content: space-between;

}



/*------------- MEDIA QUERY -----------*/


/*------------- RESOLUCION 768px -----------*/
@media (min-width: 768px) {

h1{

  font-size: 3rem;
}

.navegador {
  font-size: 1.5rem ;
}
/*------------ MAIN --------------*/


.cuerpoArticulo p{
width: 100%;

}

#caratula{
width: 50%;


}

.linea{
  display:flex;
  flex-direction: row;
  align-items: center;
}


}

/*------------- RESOLUCION 1024px -----------*/

@media (min-width: 1024px) {

  h1{
    
    font-size: 4rem;
  }

  .tituloArticulo{
    font-size: 2.5rem;
  }

  .cuerpoArticulo p{
    font-size: 1.2rem;
  }

  .subtitulo{
    font-size: 1.5rem;
  }

  .contenedorGaleria {
    
    padding: 40px;

  
  
  }

  .cardImagen {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    }


}