
/*--------- trabajo footer en general -------------*/

.redes {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem ;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;

}
