/*---------------- trabajo galeria --------------- */
.galeria {
    width: 100%;
    
}

.contenedorGaleria {
    display: flex;
    padding: 30px;
    overflow-x: scroll;
    
}

.cardImagen {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    
    img {
        width: 100%;
    }
    
}
