//-------------- trabajo header en general ----------- 

header {

    background-image: url(../img/imagen-header.jpg);
    background-size: cover;

}

// -------------------- CREO MIXIN PARA TRABAJAR HEADER-----------------

@mixin fontEdit ($family, $size) {
    font-family: $family;
    font-size: $size;   
    
}

// ------------------ CREO MAP PARA LOS COLORES DE LOS NAV --------------



$navColor: (
    Navegador: #CC1414,
    Redes: aqua,
);


// ----------------- Aplico EXTEND para las NAVS ----------------------

.menuBase {
    padding: 0;
    margin: 0;
}

.menuNavegador {
    background-color: map-get($navColor , Navegador);
    @extend .menuBase;
    @include fontEdit('Georgia' , 1.5rem)
    
}

.menuRedes {
    background-color: map-get($navColor, Redes);
    @extend .menuBase;  
    @include fontEdit('Courier New' , 1rem)
}




h1{
    font-size: 5  rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    padding: 10%;

    // anido HOVER
    &:hover{
        animation-name: tituloEnMovimiento;
        animation-duration: 5s;
        animation-iteration-count: 2;
        animation-direction: alternate;
    }
}