//-------------------- Trabajo demas paginas ------------------

.subtitulo {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 1.2rem ;
    font-weight: normal;
    text-align: center;
    text-decoration: underline;
    
}

.nosotros{
    text-align: center;
    padding-bottom: 10px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.boton{
    background-color:green;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    color: white;
    border: double;
}

.area-texto{
    background-color:whitesmoke;
    border-radius: 10px;
    text-align: justify;

}   